.container {
    max-width: 50%;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    margin-top: 8%;
    
}
.img
{
    width: 200px;
    height: 200px;
    background-color: transparent;
    margin-top: 30px;
    border-radius: 50%;
}

.name {
    font-weight: 700;
    margin-top: 30px;
    font-size: 50px;
}

.email {
    margin-top: 20px;
}

.good {
    font-size: 20px;
    font-weight: 500;
}

.logout  {
    margin-top: 20px;
     background-color: black;
     color: white;
     border: 1px solid black;
     padding: 10px;
     width: 350px;
     letter-spacing: 2px;
     justify-content: center;
     align-items: center;
     font-size: 24px;

}

.logout:hover {
    background-color: #0d6efd;
    color: white;
    border: none;
}