.meauto {
    height: 100px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    display: flex;
}
.SearchIcon
{
    font-size: 45px !important;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 210px;    
}
.SearchPerson
{
    font-size: 45px !important;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 140px;    
}
.ShoppingBagIcon
{
    font-size: 45px !important;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 70px;    
}


.navLink
{
    font-size: 17px !important;
    margin-left: 20px !important;
    color: black !important;
}

.logo {
    font-size: 30px !important;
    font-weight: 400;
}


@media screen and (max-width:900px) {

    .overflow
    {
        margin-top: 37px ;
        height: 600px;
        margin-left: 200px;
        position: relative;
        display: inline-block;
        background-color: white;
        width: 300px;
        text-align: start;
        z-index: 999;
        
        box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    }
   
    .SearchPerson {
        visibility: collapse;
        display: none;
    }

    .ShoppingBagIcon {
        display: none;
        visibility: collapse;
    }

    .SearchIcon {
        visibility: collapse;
        display: none;
    }

    
    
}