.container {
    position:absolute;
    z-index: 7;
    min-height: 280vh;
    /* transition: top 300ms ease 0s !important; */
   background-color: white;
   width: 100%;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
   border: 1px solid gray;
}


.label {
    font-size: 30px;
    margin-right: 40px;
}

.input {
    font-size: 18px;
    margin-top: 20px;
    width: 250px;

}