.Form {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100vh;
    padding-top: 150px;
    gap: 20px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* background-color: #f8f9fd; */
}

.Form h1 {
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: -80px;
    
}
.registerUserName
{
    margin-left: 10%;
    margin-right: auto;

    text-align: start;
    display: start;
}
.registerUserName input
{
    margin-left: 35px;
}
.registerUserEmail {
    margin-left: 10%;
    margin-right: auto;
    text-align: start;
    display: start;
}
.registerUserEmail input
 {
    margin-left: 37px;
    
}


.registerUserPassword {
    margin-left: 10%;
    margin-right: auto;
    text-align: start;
    display: start;

}

.registerUserName p {
    display: inline-flex;
    margin-right: 20px;
    font-size: 24px;
}

.registerUserPassword p {
    display: inline-flex;
    margin-right: 20px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.registerUserEmail p {
    display: inline-flex;
    margin-right: 20px;
    font-size: 24px;
}

.error
{
    color: red;
    font-size: 18px;
    
}
.btn {
    margin-left: 30px;
    margin-top: 40px;
    background-color: black;
    color: #fff;
    border: none;
    padding: 17px;
    width: 350px;
    letter-spacing: 2px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.Container {
    width: 40%;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
}

.notSignedUp {
    padding-top: -30px;
}

.notSignedUp a{
    color: black;
    
}



